[data-testid="stSidebar"] {
    background-color: #c6e7f4; /* Sky blue */
}
[data-testid="stSidebar"] .css-1d391kg, [data-testid="stSidebar"] .css-1v3fvcr {
    color: #FFFFFF; /* White text */
}

h1 {
    color: #4cc7f8; /* Blue title */
}
